# VsCode
.vscode/
.DS_Store
*/.DS_Store

# Data
*.csv.gz
*.parquet
*.zip

# Folders
.venv/
__pycache__/
archive/
files/
results/
test_output/
logs/

# Notes
*.md
!README.md

# Latex files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.fls
*.fdb_latexmk
*.run.xml
*.xsim
*/output/